---

  - name: restart ssh
    service:
      name: sshd
      state: restarted

  - name: restart fail2ban
    service:
      name: fail2ban
      state: restarted

  - name: restart firewalld
    service:
      name: firewalld

  - name: restart ufw
    service:
      name: ufw